Flask
flask_basicauth
twilio
matplotlib==3.3.4
ipython
numpy==1.19.5
pandas==1.2.1
picamera
RPi.GPIO
cvlib
# tensorflow @ https://github.com/bitsy-ai/tensorflow-arm-bin/releases/download/v2.4.0/tensorflow-2.4.0-cp37-none-linux_armv7l.whl
tensorflow @ https://github.com/bitsy-ai/tensorflow-arm-bin/releases/download/v2.4.0-rc2/tensorflow-2.4.0rc2-cp37-none-linux_armv7l.whl
