{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-4"></h1>
  <p>hen door</p>
  </p>
  <form action="{{ url_for('door_open') }}" method="POST">
    <input type="submit" value="open door"/>
  </form>
</p>
  <form action="{{ url_for('door_close') }}" method="POST">
    <input type="submit" value="close door"/>
  </p>
  </form>
  <p>if you need a specific time (in seconds), specify here</p>
  <form action="{{ url_for('custom_door') }}" method="POST">
    <input type="number" name="time" step="0.1"/>
  </p>
  <p>choose door direction</p>
    <select name="direction">
      <option value="open">open</option>
      <option value="close">close</option>
    </select>
  </p>
    <input type="submit" value="custom door command"/>
  </form>
</p>
</p>Thank you!</p>
{% endblock %}
